@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

/* * {
  outline: 1px solid peachpuff;
} */

:root {
  --color1: green;
  --font1: "Fugaz One", sans-serif;
}

/* wrapper */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: var(--font1);
  height: 100vh;
  background-image: url(assets/pexels-pixabay-531756.jpg);
  background-size: cover;
}


h1 {
  background-image: url(assets/Asset\ 1.png);
  font-size: 3em;
  padding-left: 1em;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}


p {
  background: whitesmoke;
  padding: 3em; 
  border-radius: 50%;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;

}

nav {
  align-items: center;
  height: auto;
}

aside {
margin: auto;

}

aside img{
width: 100%;

}


@media (max-width: 480px) {
  p span{
    float: none;
    font-size: 1em;
    color: black;
  }
  body {
    background: cornflowerblue;
  }
  main {
    grid-template-columns: 1fr;
  }
  article nav a{
    display: block;
    margin: 1em 0 1em 0;
  }
}