@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

* {
  outline: 1px solid peachpuff;
}

:root {
  --color1: #2c78ffbf;
  --font1: "Fugaz One", sans-serif;
}

/* wrapper */
main {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  font-family: var(--font1);
  height: 100vh;
  background-image: url(assets/pexels-pixabay-531756.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


h1 {
  z-index: 1;
  position: relative;
  font-size: 3em;
  top: 0;
  color: var(--color1);
}



.container {
  position: relative;
  text-align: center;
  color: black;
  background-size: cover;
}

.name {
  z-index: 1;
  position: relative;
  top: 199px;
  left: 62px;
  margin-right: 114px;
}

.yt {
  width: 35%;
    height: 35%;
    left: -10px;
    top: 10px;
    position: relative;
}

.ig {
  width: 30%;
  height: 30%;
}

.tt {
  width: 30%;
  height: 30%;
  position: relative;
  left: 10px;
}

p {
  background: whitesmoke;
  border-radius: 46px;
  padding: 2em;
  color: var(--color1);
  border: 3px solid black;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;

}

body {
  background: var(--color1);
}

nav {
  align-items: center;
  height: auto;
  padding-left: 32%;
  padding-right: 22%;
  position: relative;
}

aside {
margin: auto;

}

aside img{
  width: 75%;
  border: 10px solid white;
  left: 65px;
  position: relative;
  bottom: 60px;
}


@media (max-width: 480px) {
  p span{
    float: none;
    font-size: 1em;
    color: black;
  }
body {
  background: var(--color1);
}
  main {
    grid-template-columns: 1fr;
    height: 121vh;
    background-image: url(assets/pexels-pixabay-531756.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }


  nav {
    align-items: center;
    height: auto;
    padding-left: 0%;
    padding-right: 0%;
    position: relative;
    display: flex;
    left: -5px;
  }

  h1 {
    z-index: 1;
    position: relative;
    font-size: 3em;
    top: -174px;
    color: var(--color1);
  }
  aside img {
    width: 75%;
    border: 3px solid black;
    left: 45px;
    position: relative;
    bottom: 542px;
}


.name {
  z-index: 1;
  position: relative;
  top: 199px;
  left: 54px;
  margin-right: 114px;
  text-align: center;

}

.yt {
  width: 36%;
  height: 35%;
  left: 0px;
  top: 0px;
  position: relative;
}

.ig {
  width: 34%;
  height: 30%;
  position: relative;
}

.tt {
  width: 33%;
  height: 30%;
  position: relative;
  left: 10px;
}


}