@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

/* * {
  outline: 1px solid peachpuff;
} */

:root {
  --color1: #2c78ffbf;
  --font1: "Fugaz One", sans-serif;
}

/* wrapper */
main {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  font-family: var(--font1);
  height: 100vh;
  background-image: url(assets/pexels-pixabay-531756.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: none;
}


h1 {
  z-index: 1;
  position: relative;
  font-size: 3em;
  top: 0;
  color: var(--color1);
}

/* .links {
  display: inline-flexbox;
  flex-direction: row;
} */

.container {
  position: relative;
  text-align: center;
  color: black;
  background-size: cover;
}

.name {
  z-index: 1;
  position: relative;
  top: 199px;
  left: 62px;
  margin-right: 114px;
}

.yt {
  width: 35%;
    height: 35%;
    left: -10px;
    top: 10px;
    position: relative;
}

.ig {
  width: 30%;
  height: 30%;
}

.tt {
  width: 30%;
  height: 30%;
  position: relative;
  left: 10px;
}

p {
  background: whitesmoke;
  border-radius: 46px;
  padding: 2em;
  color: var(--color1);
  border: 3px solid black;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;

}

nav {
  align-items: center;
  height: auto;
  padding-left: 250px;
  padding-right: 250px;
  position: relative;
}

aside {
margin: auto;

}

aside img{
  width: 75%;
  border: 10px solid white;
  left: 65px;
  position: relative;
  bottom: 60px;
}


@media (max-width: 480px) {
  p span{
    float: none;
    font-size: 1em;
    color: black;
  }
  body {
    background: cornflowerblue;
  }
  main {
    grid-template-columns: 1fr;
  }
  article nav a{
    display: block;
    margin: 1em 0 1em 0;
  }
}